html, body {
    margin: 0;
    height: 100%;
    background: #FBFBFB;
}

.main-block {
    display: flex;

    height: 75%;

    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-block .time {
    color: #7479D2;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 95px;
    margin: auto;
}
.main-block .select-date, .select-time {
    height: 70px;

    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: 30px;

    outline-color: #c7c7c7;

    padding-left: 1%;

    border-radius: 2px;
    border: 2px solid #e7e7e7;
}

.main-block .select-date {
    width: 45%;
}
.main-block .select-time {
    width: 25%;
}
.main-block .button {
    margin-left: 1%;

    height: 70px;
    width: 100px;

    border-radius: 5px;

    border: none;
    outline: none;

    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;

    color: white;
}

.main-block .selector-button {
    background: linear-gradient(90deg, #D4C5E2, #C2AED6);
}
.main-block .selector-button:hover {
    background: linear-gradient(90deg, #CCBBDD, #B8A0CF);
}

.main-block .share-button {
    background: linear-gradient(90deg, #C9D7F8, #A4BCF4);
}
.main-block .share-button:hover {
    background: linear-gradient(90deg, #B7CAF6, #92AFF2);
}

.main-block .copy-button {
    background: linear-gradient(90deg, #D1D3F0, #B2B5E6);
}
.main-block .copy-button:hover {
    background: linear-gradient(90deg, #C1C4EB, #B2B5E6);
}

.main-block .url-input {
    height: 70px;
    width: 20%;
    color: #AE92C8;

    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: 30px;

    outline-color: #c7c7c7;

    padding-left: 1%;

    border-radius: 2px;
    border: 2px solid #e7e7e7;
}

.footer-block {
    display: flex;

    height: 25%;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: #C2AED6;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 60px;
}

.footer-muted-text {
    color: #bababa;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}